#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.contact {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
}

.contact h1 {
  grid-column: 1/5;
}

.printResume {
  aspect-ratio: 3 / 4;
  border: 1px solid black;
  border-radius: 5px;
  text-align: left;
  padding: 0.25rem;
  background-color: antiquewhite;
  color: black;
}

.experience {
  display: grid;
  grid-template-columns: 1fr;
}

.printResume h2 {
  padding: 0;
  margin: 0 1rem;
}

ul {
  list-style-type: none;
}

li {
  font-size: small;
  padding: 0;
}

p {
  margin: 0 4rem 0.5rem;
}
